.back-to-top{
    position:fixed;
    bottom:30px;
    right:30px;

    width:55px;
    height:55px;

    border:none;
    border-radius:50%;

    background:#C67C2E;
    color:white;

    font-size:20px;

    cursor:pointer;

    box-shadow:0 8px 20px rgba(0,0,0,.25);

    transition:.3s;

    z-index:999;
}

.back-to-top:hover{
    background:#9E5B16;
    transform:translateY(-4px);
}